.banner-projects {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 80vh !important;
  width: 100%;
  color: #eee;
  padding-top: 20vh;
  padding-left: 5%;
  padding-right: 5%;
}

.projects-banner-grid {
  display: grid;
  grid-gap: 0.1em;
  grid-template-columns: 1fr;
  padding: 1%;
}

@media (min-width: 40em) {
  .projects-banner-grid {
    grid-template-columns: 2fr 1fr;   
  }
}
//-----------------------------Animation in banner ----------------
.stretch-animation {
  animation-duration: 2.2s;
  animation-name: slidein;
  animation-iteration-count: 1;
}

@keyframes slidein {
  from {
    transform: translateX(20%) scaleX(1.5);
  }
  to {
    transform: translateX(0) scaleX(1);
  }
}

.projects-banner-title {
font-family: $titles;
font-size: calc(15px + 5vw);
line-height: calc(14px + 3.3vw);
color: white;
//-webkit-text-fill-color: black; /* Will override color (regardless of order) */
//-webkit-text-stroke-width: 0.5px;
//-webkit-text-stroke-color: white;
}

.projects-banner-title-container {
  margin-top: 20%;
}

.projects-banner-clock-container {
  padding-top: 0.5px;
  padding-left: 3%;
}

.grid-space-projects {
  display: none;
}

arrows-projects {
  margin-left: 80%;
}

#arrows-white-color {
  font-size: calc(35px + 3vw);
  &:hover {
    transition-duration: 0.3s;
    transform: scale(1.2);
    cursor: pointer;      
  }
}
//-------------------------GIANTARABANI--------------------------

@media (max-width:1920px) {
  .gtb-title {
    font-family: $titles;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:1024px) {
  .gtb-title {
    font-family: $titles;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:768px) {
  .gtb-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:480px) {
  .gtb-title {
    font-family: $titles;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
  }   #gtb-h2 {
    font-size: 15px;
  }
}

@media (max-width:320px) {
  .gtb-title {
    font-family: $titles;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
  }   #gtb-h2 {
    font-size: 10px;
  }
}

@media (max-width:200px) {
  .gtb-title {
    font-family: $titles;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
  }
}

  #gtb-h2 {
    text-align: right;
  }

  #gtb-text {
    text-align: justify;
  }

  .gtb_logo {
    width: 15%;
    height: 15%;
    margin-right: 5%;
    margin-top: 2.5%;
    //margin-left: 5%;
  }

  .gtb-pic {
    width: 100%;
    height: auto;
    &:hover{
      transition-duration: 0.3s;
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(0,0,0,0.7);
    }
  }

//-------------------------Middle Content Grid--------------------
.box {
  position: relative;
  padding-top: 10%;
  padding-left: 2.6%;
  padding-right: 2.6%;
  //overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0 0 1em 0;
}

// * { box-sizing: border-box; }

.grid {
  display: grid;
  grid-gap: 1em;
  //grid-template-columns: 1fr;
  padding: 10px;
  grid-template-columns: minmax(0, 1fr);
}

.grid > * {
  padding: 10px;

}

@media (min-width: 40em) {
  .grid {
    grid-template-columns: 2fr 1fr;
  }
}

.media {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.media > * {
  flex: 1 1 250px;
  margin: 10px;
}

.aside {
  padding-top: 42%;
  color: black;
}

.aside-text {
  text-align: center;
}

@media (max-width:1920px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 25px;
  }
}

@media (max-width:1024px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 20px;
  }
}

@media (max-width:768px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 14px;
  }
}

@media (max-width:480px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 14px;
  }
}

@media (max-width:320px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 13px;
  }
}
//---------------------------chinampa--------------------------------------
@media (max-width:1920px) {
  chinampa-title {
    font-family: $titles;
    font-size: 65px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:1024px) {
  chinampa-title {
    font-family: $titles;
    font-size: 60px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:768px) {
  chinampa-title {
    font-family: $titles;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:480px) {
  chinampa-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:320px) {
  chinampa-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:200px) {
  chinampa-title {
    font-family: $titles;
    font-size: 17px;
    display: flex;
    align-items: flex-start;
  }
}

  .chinampa_logo_round {
    width: 10%;
    height: auto;
    margin-left: 5%;
  }

  .my-chinampa-pic {
    width: 100%;
    height: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    &:hover{
      transition-duration: 0.3s;
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(0,0,0,0.7);
    }
  }
//-----------------------Sportix---------------------------------
@media (max-width:1920px) {
  .sportix-title {
    font-family: $titles;
    font-size: 65px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:1024px) {
  .sportix-title {
    font-family: $titles;
    font-size: 60px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:768px) {
  .sportix-title {
    font-family: $titles;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:480px) {
  .sportix-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:320px) {
  .sportix-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:200px) {
  .sportix-title {
    font-family: $titles;
    font-size: 17px;
    display: flex;
    justify-content: flex-end;
  }
}

#sportix-h2 {
  text-align: right;
}

.sportix_logo_round {
  width: 8%;
  height: 8%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.sportix-pic {
  width: 100%;
  height: auto;
  &:hover{
    transition-duration: 0.3s;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
  }
}

#sportix-text {
  text-align: justify;
}
//-----------------------container exercises---------------------
.container { 
  display: grid; 
  grid-gap: 5em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 2fr));
  padding-top: 10%;
  height: auto;
  min-height: 100vh !important;
}
 
.card-exercise {
  text-align: center;
  margin-bottom: 1px;
}

.card-exercise-pictures {
  &:hover{
    transition-duration: 0.3s;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
  }
}

//---------------------------- Instafeed-----------------


.gallery {
  line-height:0;
  -webkit-column-count:5; 
  -webkit-column-gap:10px; 
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:10px;
  padding-left: 10%;
  padding-right: 10%;
  
}

.gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:20px; /* to match column gap */
  // filter: opacity(60%);
  &:hover {
    transition-duration: 0.3s;
    transform: scale(1.02);
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    cursor: pointer;   
  }
}

@media (max-width: 1200px) {
  .gallery {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}

@media (max-width: 1000px) {
  .gallery {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}

@media (max-width: 800px) {
  .gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
}

@media (max-width: 400px) {
  .gallery {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
}

.gallery img:hover {
  // filter:none;
  // filter: opacity(60%);
}
