.box {
  position: relative;
  padding-top: 10%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-image:
  linear-gradient(to bottom, rgba(214, 240, 231, 0.562), rgba(168, 192, 182, 0.774), rgba(250, 218, 196, 0.445), rgba(252, 230, 215, 0.24));
}

.banner-projects {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: auto;
  min-height: 80vh !important;
  width: 100%;
  color: #eee;
  padding-top: 20vh;
  padding-left: 5%;
  padding-right: 5%;
}

//-------------------------Middle Content Grid--------------------

img {
  max-width: 100%;
  display: block;
}

p {
  margin: 0 0 1em 0;
}

* { box-sizing: border-box; }

.grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr;
  padding: 10px;
}

.grid > * {
  padding: 10px;

}

@media (min-width: 40em) {
  .grid {
    grid-template-columns: 2fr 1fr;
  }
}

.media {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.media > * {
  flex: 1 1 250px;
  margin: 10px;
}

.aside {
  padding-top: 42%;
  color: black;
}

.aside-text {
  text-align: center;
}

@media (max-width:1920px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 25px;
  }
}

@media (max-width:1024px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 20px;
  }
}

@media (max-width:768px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 14px;
  }
}

@media (max-width:480px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 14px;
  }
}

@media (max-width:320px) {
	.aside-text {
    font-family: $paragraphs;
    font-size: 13px;
  }
}

//---------------------------chinampa--------------------------------------
@media (max-width:1920px) {
  chinampa-title {
    font-family: $titles;
    font-size: 65px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:1024px) {
  chinampa-title {
    font-family: $titles;
    font-size: 60px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:768px) {
  chinampa-title {
    font-family: $titles;
    font-size: 40px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:480px) {
  chinampa-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
  }
}

@media (max-width:320px) {
  chinampa-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    align-items: flex-start;
  }
}

  .chinampa_logo_round {
    width: 10%;
    height: auto;
    margin-left: 5%;
  }

  .my-chinampa-pic {
    width: 100%;
    height: auto;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    &:hover{
      transition-duration: 0.3s;
      transform: scale(1.05);
      box-shadow: 0 0 15px rgba(0,0,0,0.7);
    }
  }


//-----------------------Sportix---------------------------------

@media (max-width:1920px) {
  .sportix-title {
    font-family: $titles;
    font-size: 65px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:1024px) {
  .sportix-title {
    font-family: $titles;
    font-size: 60px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:768px) {
  .sportix-title {
    font-family: $titles;
    font-size: 40px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:480px) {
  .sportix-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width:320px) {
  .sportix-title {
    font-family: $titles;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
  }
}

#sportix-h2 {
  text-align: right;
  //margin-left: 10%;
}

.sportix_logo_round {
  width: 8%;
  height: 8%;
  margin-right: 5%;
  margin-top: 2.5%;
}

.sportix-pic {
  width: 100%;
  height: auto;
  &:hover{
    transition-duration: 0.3s;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
  }
}

#sportix-text {
 // padding-left: 1%;
  text-align: justify;
}

//-----------------------container exercises---------------------
.container { 
  display: grid; 
  grid-gap: 5em;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  grid-template-rows: repeat(auto-fit, minmax(100px, 2fr));
  padding-top: 10%;
  height: auto;
  min-height: 100vh !important;
}
 
.card-exercise {
  //border-radius: 1%;
  text-align: center;
  margin-bottom: 1px;
}

.card-exercise-pictures {
  &:hover{
    transition-duration: 0.3s;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
  }
}