<nav class="navbar fixed-top">
  <div class="d-flex">
    <div class="navbar-links ml-3">
      <a href="http://www.christian-zamora.com" target=""><i class="fas fa-home" style="color:white !important" id="house"></i></a>
    </div>
  </div>
  <div class= "d-flex justify-content-end">
    <div class="navbar-links mr-5">
      <%= link_to "Projects", pages_projects_path, class: "navbar-links"%>
    </div>
    <div class="navbar-links mr-3">
      <%= link_to "Contact", "#", class: "navbar-links dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div id="dropdown-color">
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown" id="dropdown-color">
          <%= link_to "Message", new_contact_path, class: "dropdown-item dropdown-text" %>
          <%= link_to "LinkedIn", "https://www.linkedin.com/in/christian-zamora-burgos/", target: "_blank", class: "dropdown-item dropdown-text" %>
        </div>
        </div>
    </div>
  </div>
</nav>
  