<div class="banner-projects">
  <div class="container" id="clicker"> 
    <div class="grid-div-1">1</div>  
    <div class="grid-div-2">2</div>  
    <div class="grid-div-3">3</div>  
    <div class="grid-div-4">4</div>  
    <div class="grid-div-5">5</div>  
    <div class="grid-div-6">6</div>  
  </div>
</div>
<div class="first-container-home-content"> 
   
</div>
