<div class="banner-contact">
  <div class="container" id="clicker"> 
    <div class="grid-div-1">1</div>  
    <div class="grid-div-2">2</div>  
    <div class="grid-div-3">3</div>  
    <div class="grid-div-4">4</div>  
    <div class="grid-div-5">5</div>  
    <div class="grid-div-6">6</div>
    <div class="grid-div-7">7</div>
    <div class="grid-div-8">8</div>    
  </div>
</div>

<main class="grid">
  <header>SOME KIND OF TITLE</header>
  <article>
    <div class="media">
      <div class="asset">
        <img src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.0-9/70092368_10157465619389161_1283241433821609984_n.jpg?_nc_cat=108&ccb=2&_nc_sid=0debeb&_nc_eui2=AeGwevM2k9VcyqVWUV-ylspDUmgjtbshhSdSaCO1uyGFJ7ZK4EQS_NuMdMVL5jkyg4k&_nc_ohc=CwOR2-RxKZ8AX9vRpFn&_nc_ht=scontent-qro1-1.xx&oh=158d26ed4650bca82aa413c265fe6443&oe=602F1EBD" alt="loading">
      </div>
      <div class="content">
        <p>
          <%= 'JS, Ruby, SCSS, Rails' * 30 %>
        </p>
      </div>
    </div>

  <div class="media">
    <div class="asset"><img src="https://scontent-qro1-1.xx.fbcdn.net/v/t1.0-9/60066949_10217919054348754_1431401244139716608_n.jpg?_nc_cat=106&ccb=2&_nc_sid=8bfeb9&_nc_eui2=AeEM8xh8ygxqwgPfOQB1NKUVvJNKAEqU3vu8k0oASpTe-8Rkfn3JEBRWlUBKUCZyTPY&_nc_ohc=-M6-9yYsY6wAX98SUBg&_nc_ht=scontent-qro1-1.xx&oh=0e824d8a52165423835fd71a8f3698eb&oe=60300311" alt="loading"></div>
      <div class="content">
        <p>
          <%= 'JS, Ruby, SCSS, Rails' * 30 %>
        </p>
      </div> 
    </div>
    
  </article>
  <aside>MORE INFO O MAYBE A PIC</aside>
  <footer>ANOTHER WAY TO DO A FOOTER</footer>
</main>
