 <div class="second-paragraph-container">
    <div class="text-left second-title" id="hobbies"><br><br><br><br>Hobbies<br><br><br>&nbsp; &nbsp;<span style="color:yellow;"> 
      & </span><span>Interests
    </div>
    <div class="second-paragraph-intro">
      <p>
        I am quite interested in technology and world news, I normally spend a couple of hours everyday reading through blogs, tech 
        newsletters like Netflix techblog and posts from people I follow such as Yukihiro Matsumoto (‘Matz’) and Sandi Metz.   
      </p>
    </div>
    <div class="second-paragraph-content">
      <p> 
        I practice tennis, landboarding and cycling. Some sports I follow are F1 and Ice Hockey.
      </p> 
    </div>  
      <div class="second-paragraph-end">
        <p> 
          I have lived in different countries which've made me very
          passionate about trying and learning new things whenever I can and wherever I am. 
        </p> 
      </div>   
  </div>  