<div class="home-banner"> 
  <div>
    
    <div class="banner-paragraph">
      <span class="text-justify">A full stack developer who</span><span> enjoys building and designing   </span><span>Front</span><span style="color:yellow;"> & </span><span>Back-End applications</span>
    </div>

    <div class="d-flex">
      <div class="line"></div>
      <div id="clicker" class="button">
        <div class="about-myself"><span id="target" class="about-text">💚</span></div>
      </div>
    </div>

  </div> 
</div>
<%# -------------------------- PAGE --------------------------------------------- %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>
