<div class="home-banner"> 
  <div>    
    <div class="banner-paragraph">
      <span class="text-justify">A full stack developer who</span><span> enjoys building and designing   </span><span>Front</span><span style="color:yellow;"> & </span><span>Back-End applications</span>
    </div>
    <div class="d-flex">
      <div class="line"></div>
      <div id="clicker" class="button">
        <div class="about-myself">
          <span id="target" class="about-text"><i class="fas fa-angle-double-down"></i></span>
        </div>
      </div>
    </div>

  </div> 
</div>
<%# -------------------------- CONTENT --------------------------------------------- %>
<div class="first-container-home-content">
  <div class="chris-pic">
    <%= image_tag("chris.jpg", height: 400, width: 280, :class => "chris-pic-border", alt: "upload") %>
  </div>
  <div class="chris-paragraph-container">
    <div class="text-left title-me"><br><br><br><br>What <br><br><br>&nbsp;about me?</div>
    <div class="chris-paragraph-intro">
      <p>
        I am a highly motivated Full Stack Developer 
        profit-driven and results-orientated.
        Having an excellent track record of successful achievements delivered on time and within budget in my previous career as a food and retail 
      </p>
    </div>
    <div>
      <div class="chris-paragraph-content">
        <p> 
          <strong>Definitely-</strong> I am someone who embraces challenge and self-improvement
        </p> 
      </div>   
    </div>
    <div>
      <div class="chris-paragraph-end">
        <p> 
          <strong>Absolutely </strong>a dynamic team player able to adapt to all levels within any organisation, I am someone who embraces challenge and self-improvement
        </p> 
      </div>   
    </div>
  </div>
</div>
<%# --------------------------------2nd container---------------- %>
<div class="second-container-home-content">
  <div class="second-paragraph-container">
    <div class="text-left second-title"><br><br><br><br>Hobbies<br><br><br>&nbsp; &nbsp;<span style="color:yellow;"> & </span><span>Interests</div>
      
      <div class="second-paragraph-intro">
        <p style="color:white">aksdjnasjfnsd;kjfnaksjgs;kadng;</p>
        <div class="text-left">
          <ul style="color:white;">
            <li>Tennis
            <li>Cycling
            <li>Ice Hockey
            <li>Landboarding
          </ul>
        </div>
      </div>
      
      <div class="second-paragraph-content">
        <p> 
          <strong>SECOND -</strong> alsdknasfkjsnad;kgjna;kfjgna;lsdkg;faksjgn;kadj;n;kajdn
        </p> 
      </div>

    
    <div>
      <div class="second-paragraph-end">
        <p> 
          <strong>OF COURSE</strong>I am someone who embraces challenge and self-improvement
        </p> 
      </div>   
    </div>
  </div>
</div>
