<div class="home-banner"> 
  <div>
    
    <div class="banner-paragraph">
      <span class="text-justify">A full stack developer who</span><span> enjoys building and designing   </span><span>Front</span><span style="color:yellow;"> & </span><span>Back-End applications</span>
    </div>

    <div class="d-flex">
      <div class="line"></div>
      <div id="clicker" class="button">
        <div class="about-myself">
          <span id="target" class="about-text"><i class="fas fa-angle-double-down"></i></span>
        </div>
      </div>
    </div>

  </div> 
</div>
<%# -------------------------- CONTENT --------------------------------------------- %>
<div class="first-container-home-content">

  <div class="chris-pic">
    <%= image_tag("chris.jpg", height: 400, width: 280, :class => "chris-pic-border", alt: "upload") %>
  </div>

  <div class="chris-paragraph-container">
    <div class="text-left title-me"> <br><br><br><br>What <br><br><br> &nbsp;  about me?</div>
    
    <div class="chris-paragraph-intro">
      <p>
        I am a highly motivated Full Stack Developer 
        profit-driven and results-orientated.
        Having an excellent track record of successful achievements delivered on time and within budget in my previous career as a food and retail 
      </p>
    </div>

    <div>
      <div class="chris-paragraph-content">
        <p> 
          <strong>Definitely-</strong> I am someone who embraces challenge and self-improvement
        </p> 
      </div>   
    </div>

    <div>
      <div class="chris-paragraph-end">
        <p> 
          <strong>Absolutely </strong>a dynamic team player able to adapt to all levels within any organisation, I am someone who embraces challenge and self-improvement
        </p> 
      </div>   
    </div>
  </div>
</div>

<%# --------------------------------2nd container---------------- %>

<div class="second-container-home-content">

  <div class="second-paragraph">
    <p class="text-left">
      Some activities and Hobbies I enjoy:
      <ul class="text-left">
        <p>
        <li>Tennis
        <li>Cycling
        <li>Ice Hockey
        <li>Landboarding
        </p>
      </ul>
    </p>
  </div>
    
  <div class="second-pic">
    <iframe width="200" height="100"
      src="https://www.youtube.com/embed/o1tj2zJ2Wvg"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>

