<div class="home-banner">
  <div class="container">
    <h2><strong><u>How do I pick the right indoor plants?</u></strong>🌷🌼🌵</h2> 
    <br>
    <div class="row">
      <div class="col-sm-8">
        <div class="bd-highlight tutorial-box-video">
          <iframe width="700" height="400"
            src="https://www.youtube.com/embed/AMFV4kVQXb4"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
      </div>
      
      <div class="col-sm">
        <p class="text-justify">
          Let's grow your indoor plants indoors!!<br>
          Most of the time, indoor plants are already in containers, so no need to plant them.
          <br>
          <br>
          <strong>A good root system</strong> – This is incredibly important when choosing a plant. It’s not practical to pull a plant out of its pot to check its roots but if it is a small plant, this can be done.
          Healthy roots are thick and light in color.
          <br>
          <strong>Foliage</strong> - Here’s a good rule of thumb when it comes to plant’s foliage: if you can’t see through it, the foliage is thick enough.
          <strong>Check for disease</strong> – Some signs of a plant with pests or disease are: white dots, sticky residue on the leaves and a bad odor.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>
