<div class="home-banner"> 
  <div>
    
    <div class="banner-paragraph">
      <span class="text-justify">A full stack developer who</span><span> enjoys building and designing   </span><span>Front</span><span style="color:yellow;"> & </span><span>Back-End applications</span>
    </div>

    <div class="d-flex">
      <div class="line"></div>
      <div id="clicker" class="button">
        <div class="about-myself">
          <span id="target" class="about-text"><i class="fas fa-angle-double-down"></i></span>
        </div>
      </div>
    </div>

  </div> 
</div>
<%# -------------------------- CONTENT --------------------------------------------- %>
<div class="first-container-home-content">

  <div class="chris-pic">
    <%= image_tag("chris.jpg", height: 500, width: 340, :class => "chris-pic-border", alt: "upload") %>
  </div>
  <div class="chris-paragraph">
    <p class="text-left">
      More of the human side
      <br>
      I am a highly motivated Full Stack Developer 
      profit-driven and results-orientated.
      Having an excellent track record of successful achievements delivered on time and within budget in my previous career as a food and retail manager I can prove vast strategic planning and exceptional organisational skills. 
      <br>
      <br>
      <strong>Definitely </strong>a dynamic team player able to adapt to all levels within any organisation, I am someone who embraces challenge and self-improvement
      <br>
      <br>
      <strong>I like</strong> – <%= "challenge myself" *5 %> 
      <br>
      <br>
      <strong> My ambitions</strong> – <%= "become a great developer" *5 %> 
    </p>
  </div>
</div>

<%# --------------------------------2nd container---------------- %>

<div class="second-container-home-content">

  <div class="second-paragraph">
    <p class="text-left">
      Some activities I enjoy:
      <ul class="text-left">
        <p>
        <li>Tennis
        <li>Cycling
        <li>Ice Hockey
        <li>Landboarding
        </p>
      </ul>
    </p>
  </div>
    
  <div class="second-pic">
    <iframe width="600" height="300"
      src="https://www.youtube.com/embed/o1tj2zJ2Wvg"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen>
    </iframe>
  </div>
</div>

