<div class="home-banner">
  
    <h1 id="about-myself" height="100" width="100"> ABOUT </h1>

</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>