<div class="home-banner"> 
  <div>    
    <div class="banner-paragraph">
      <span class="text-justify">A full stack developer who</span><span> enjoys building and designing   </span><span>Front</span><span style="color:yellow;"> & </span><span>Back-End applications</span>
    </div>
    <div class="d-flex">
      <div class="line"></div>
      <div id="clicker" class="button">
        <div class="about-myself">
          <span id="target" class="about-text"><i class="fas fa-angle-double-down"></i></span>
        </div>
      </div>
    </div>

  </div> 
</div>
<%# -------------------------- CONTENT --------------------------------------------- %>
<div class="first-container-home-content">
  <div class="chris-pic">
    <%= image_tag("chris.jpg", height: 400, width: 280, :class => "chris-pic-border", alt: "upload") %>
  </div>
  <div class="chris-paragraph-container">
    <div class="text-left title-me"><br><br><br><br>What <br><br><br>&nbsp;about me?</div>
    <div class="chris-paragraph-intro">
      <p>
        I am a highly motivated Full Stack Developer 
        profit-driven and results-orientated.
        Having an excellent track record of successful achievements delivered on time and within budget in my previous career as a food and retail 
      </p>
    </div>
    <div>
      <div class="chris-paragraph-content">
        <p> 
          <strong>Definitely-</strong> I am someone who embraces challenge and self-improvement
        </p> 
      </div>   
    </div>
    <div>
      <div class="chris-paragraph-end">
        <p> 
          <strong>Absolutely </strong>a dynamic team player able to adapt to all levels within any organisation, I am someone who embraces challenge and self-improvement
        </p> 
      </div>   
    </div>
  </div>
</div>
<%# --------------------------------2nd container---------------- %>
<div class="second-container-home-content">
  <div class="second-paragraph-container">
    <div class="text-left second-title"><br><br><br><br>Hobbies<br><br><br>&nbsp; &nbsp;<span style="color:yellow;"> & </span><span>Interests</div>
    <div class="second-paragraph-intro">
      <p>
        I am quite interested in technology and world news, I normally spend a couple of hours everyday reading through blogs, tech 
        newsletters like Netflix techblog and posts from people I follow such as Yukihiro Matsumoto (‘Matz’) and Sandi Metz.   
      </p>
    </div>
    <div class="second-paragraph-content">
      <p> 
        <strong> HOBBIES -</strong> I practice tennis, landboarding and cycling. Some sports I like to follow are F1 and Ice Hockey
      </p> 
    </div>
    <div>
      <div class="second-paragraph-end">
        <p> 
          Enjoy travelling and exploring. I've lived in different countries which have made me 
          very passionate about trying and learning new things when I can. 
        </p> 
      </div>   
    </div>
  </div>
</div>
