<div class="home-banner">
  <div class="row justify-content-center">
    
    <div id="myDIV" class="myFunction">ABOUT</div>
  
  </div>
</div>

<div id="clicker" class="button">
    Click me
</div>
<div id="target" class="dot"></div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>

<%# <h1 class="about-text" id="about-myself"> ABOUT </h1> %>