<div class="home-banner">
  <div class="row justify-content-center">
    
    <div id="clicker" class="button">
      <div id="target" class="dot">
        ABOUT
      </div>
    </div>
    
  
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 50 %>
    </div>
  </div>
</div>

<%# <h1 class="about-text" id="about-myself"> ABOUT </h1> %>