<div> <%# added to avoid footer to get into the columns %>
  <div class="banner-projects" id="clicker">
    <div class="header">
      <h1>PROJECTS I'VE WORKED ON</h1>
    </div>
  </div>

  <div class="spacer">
    <div class="row">
      <div class="col-3 col-s-3 menu">
        <ul>
          <li>My Chinampa</li>
          <li>Sportix</li>
          <li>Mr.Cocktail</li>
          <li>The Restaurant</li>
        </ul>
      </div>

      <div class="col-6 col-s-9">
        <h1>My Chinampa</h1>
        <p>It is an application where you can find the best caring tips for your home plants.
          We are proud to share with you the best tips proven by our founders on how to look after your precious plants.</p>
          <%= image_tag("my_chinampa.png", :class => "my-chinampa-pic", alt: "upload") %>
      </div>

      <div class="col-3 col-s-12">
        <div class="aside">
          <h4> Created by: </h4>
              Oscar Duque
              Agathe Labur
              Julial French
              Christian Zamora

          <h5> Programming laguages: </h5>
            <ul>
              <li>Ruby on Rails</li>
              <li>JS</li>
              <li>HTML</li>
              <li>SCSS</li>
              <li>PostgreSQL</li>
            </ul>
        </div>
      </div>
    </div>
  <%# ------------------------------------------------------------------ %>
  <div class="spacer">
    <div class="row">
      <div class="col-3 col-s-3 menu">

      </div>

      <div class="col-6 col-s-9">
        <h1>SPORTIX</h1>
        <p>It is an application where you can find the best caring tips for your home plants.
          We are proud to share with you the best tips proven by our founders on how to look after your precious plants.</p>
          <%= image_tag("my_chinampa.png", :class => "my-chinampa-pic", alt: "upload") %>
      </div>

      <div class="col-3 col-s-12">
        <div class="aside">
          <h4> Created by: </h4>
              Oscar Duque
              Agathe Labur
              Julial French
              Christian Zamora

          <h5> Programming laguages: </h5>
            <ul>
              <li>Ruby on Rails</li>
              <li>JS</li>
              <li>HTML</li>
              <li>SCSS</li>
              <li>PostgreSQL</li>
            </ul>
        </div>
      </div>
  </div>

  </div> <%# closing footer void  %>
</div>



