.banner {
  background-color: black;
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 100%;
  color: #eee;
  padding-top: 40vh;
  //margin-bottom: 30vh;
}

.banner-paragraph {
  font-family: $paragraphs;
  font-size: 40px;
  line-height: 40px;
  margin-left: 10%;
  height: 170px;
  width: 590px;
  border-right: gray 0.1rem solid;
}

#word-about {
  margin-right: 20%;
}


// ------ANIMATION CSS-----------------------------------------------------------

.about-myself:after {
  content: "ABOUT";
  font-family: $paragraphs;
  font-size: 60px;
  color: white;
  transition-timing-function: ease-out;
  transition-duration: 0.5s;
}


.about-myself:hover:after{
  content: 'MYSELF';
  //margin-right: 10%;
  font-family: $paragraphs;
  font-size: 60px;
  color: yellow;
  cursor: pointer;

}

.about-text {
  position: relative;
  font-size: 60px;
  font-family: $paragraphs;
}

@-webkit-keyframes right {
  0% { right: 0px; }
  50% { right: 100px; }
  100% { right: 0px; }
}

.animate {
  -webkit-animation: right 2s;
  -moz-animation: right 2s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
}


@-moz-keyframes right {
    0% { right: 0px; }
   50% { right: 350px; }
  100% { right: 0px; }
}

//----------CONTENT-------------------

.first-container-home-content {
  background-color: $first-background;
  background-size: cover;
  height: 75vh;
  position: relative;
  text-align: center;
  margin-bottom: 30vh;
}

.title-me{
  width: 450px;
  margin-bottom: 0%;
  font-family: $links;
  font-size: 50px; 
  font-weight: 700;
  line-height: 13px;
  letter-spacing: 10.3px;
}

.chris-paragraph-container {
  position: absolute;
  height:auto;
  max-width: 100%;
  top: 10%;
  left: 50%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.chris-paragraph-intro {
  position: absolute;
  background-color: rgba(131, 131, 130, 0.105);
  padding: 5% 5% 0% 2%;
  text-align: center;
  //text-align: justify;
  width: 400px;
  height: 280px;
  border-radius: 2px;
}

.chris-paragraph-content {
  position: relative;
  top: 260px;
  left: 65px;
  background-color: rgba(3, 3, 0, 1);
  width: 400px;
  height: 150px;
  border-radius: 2px;
  padding: 5px 15px 15px 20px;
  text-align: left;
  color: white;
}

.chris-paragraph-end {
  position: relative;
  top: 200px;
  background-color: rgba(255, 255, 255, 0.205);
  padding: 10% 15% 0% 0%;
  text-align: center;
  width: 400px;
  height: 140px;
  border-radius: 2px;
}
// ----------------------------------- Second Container----------

.second-container-home-content {
  background-color: black;
  background-size: cover;
  height: 90vh;
  position: relative;
  text-align: center;
  //margin-bottom: 30vh;
}

.second-title {
  width: 450px;
  margin-bottom: 0%;
  font-family: $links;
  font-size: 50px; 
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 5px;
  color: white;
}

.second-paragraph-container {
  height: auto;
  position: absolute;
  top: 5%;
  right: 50%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
}

.second-paragraph-intro {
  position: absolute;
  border: rgba(128, 128, 128, 0.308) 1px solid;
  padding: 12% 5% 0% 5%;
  text-align: center;
  //text-align: justify;
  color: white;
  width: 400px;
  height: 530px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  margin-top: 0;
  top: 103px;
}

.second-paragraph-content {
  position: relative;
  background-color: rgb(184, 184, 184);
  width: 380px;
  height: 150px;
  border-radius: 2px;
  padding: 5px 10px 10px 20px;
  top: 250px;
  margin-left: 80px;
  text-align: center;
  color: black;
}

.second-paragraph-end {
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 4% 5% 0% 2%;
  top: 200px;
  left: 20px;
  text-align: left;
  width: 380px;
  height: 130px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: white;
}