.home-banner {
  background-color: black;
  background-size: cover;
  height: 100vh;
  color: #eee;
  //text-align: center;
  padding-top: 40vh;
  margin-bottom: 30vh;
}

.banner-paragraph {
  font-family: $paragraphs;
  font-size: 40px;
  line-height: 40px;
  margin-left: 30px;
  margin-top: 10px;
  height: 170px;
  width: 590px;

  border-right: 1.1rem solid;
}

.line {
  //position: fixed;
  margin-left: 43%;
  opacity: 30%;
  border-top: white 0.5px solid;
  width: 452px;  
}

.about-myself:after {
  content: "ABOUT";
  font-family: $paragraphs;
  font-size: 60px;
  color: white;
}


.about-myself:hover:after{
  content: 'MYSELF';
  //margin-right: 10%;
  font-family: $paragraphs;
  font-size: 60px;
  color: yellow;
  cursor: pointer;
}

// ------ANIMATION CSS-----------------------------------------------------------



.about-text {
  position: relative;
  font-size: 60px;
  font-family: $paragraphs;
}

@-webkit-keyframes down {
  0% { top: 0px; }
  50% { top: 100px; }
  100% { top: 0px; }
}

.animate {
  -webkit-animation: down 2s;
  -moz-animation: down 2s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
}


@-moz-keyframes down {
    0% { top: 0px; }
   50% { top: 350px; }
  100% { top: 0px; }
}
