.chris-pic {
  max-width:100%;
  height:100vh;
  image-rendering: auto;
  position: absolute;
  top: 10%;
  left: 10%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 2%;
}

.chris-pic-border{
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgb(66, 66, 66);
}

.ski-pic {
  position: relative;
  top: 13%;
  left: 55%;
  width: 280px;
  height: 200px;
  border-top: white 10px solid;
  border-right: white 8px solid;
  border-bottom: white 30px solid;
  border-left: white 8px solid;
  -ms-transform: rotate(-8deg); /* IE 9 */
  transform: rotate(-8deg);
}

.bike-pic {
  position: relative;
  top: 9%;
  left: 63%;
  width: 280px;
  height: 240px;
  border-top: white 10px solid;
  border-right: white 8px solid;
  border-bottom: white 30px solid;
  border-left: white 8px solid;
  -ms-transform: rotate(8deg); /* IE 9 */
  transform: rotate(8deg);
}

.board-video {
  position: absolute;
  top: 55.3%;
  left: 55%;
  width: 300px;
  height: 240px;
  border-top: white 10px solid;
  border-right: white 8px solid;
  border-bottom: white 30px solid;
  border-left: white 8px solid;
  -ms-transform: rotate(-2deg); /* IE 9 */
  transform: rotate(-2deg);
}

.more-container {
  position: relative;
  top: 92%;
  left: 50%;
  width: 40%;
  height: auto;
  
}

.more-text {
  font-family: $paragraphs;
  font-size: 50px;
  padding-top: 7%;
  margin-left: 15%;
  margin-right: 2%;
}

.arrows {
  position: relative;
  font-size: 120px;
  font-family: $paragraphs;
  padding-left: 2%;
}

#myDIV {
  position: relative;
  font-size: 40px;
  font-family: $titles;
}


.mymove {
  -webkit-animation: down 2.5s;
  -moz-animation: down 2.5s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
}

/*Chrome, Safari, Opera 
@-webkit-keyframes mymove {
  0% { down: 0px; }
  50% { down: 50px; }
  100% { down: 0px; }
}


@-moz-keyframes mymove {
    0% { down: 0px; }
   50% { down: 50px; }
  100% { down: 0px; }
}
*/