//------------------------ Bio ----------------------
.chris-pic {
  max-width: 120%;
  height: auto;  
}

#chris-pic-border {
  margin-top: 25%;
  margin-left: 45%;
  border-radius: 1%;
  box-shadow: -95px -50px 60px 50px rgba(214, 214, 214, 0.25) inset; 
}

.what-about-me-p {
  margin-top: 20%;
  margin-left: 35%;
  margin-right: 5%;
  max-width: 200%;
  height: auto;  
  }

//------------------------------ Arrows -----------------------------
.arrows {
  position: absolute;
  padding-left: 35%;
  padding-top: 0;
  font-size: 25px;
  font-family: $paragraphs;
  //margin-left: 30%;
}

#moving-arrows-div {
  position: relative;
  font-size: 6vw;
  font-family: $titles;
}

.arrowsmovement {
  -webkit-animation: down 2.5s;
  -moz-animation: down 2.5s;
  -webkit-animation-iteration-count: 2;
  -moz-animation-iteration-count: 2;
}
//--------------------------------------------- Hobbies ------------------------------
.hobbies-paragraph {
  width: 80%;
  height: auto;  
}

#hobbies-paragraph-border {
  margin-top: 20%;
  margin-left: 15%
}

//-------------------------------------------------
.pics-container {
  width: 45%;
  height: 70%;  
}

.ski-pic-container {
  max-width: 70%;
  height: auto;
  top: 15%;
  left: 15%;
  -ms-transform: rotate(-8deg); /* IE 9 */
  transform: rotate(-8deg);
}

.ski-pic {
  max-width: 65%;
  height: auto;
  border-top: white 8px solid;
  border-right: white 6px solid;
  border-bottom: white 15px solid;
  border-left: white 6px solid;
}
//-------------------------------------------------
.bike-pic-container {
  max-width: 70%;
  height: auto;
  top: 43%;
  left: 40%;
  -ms-transform: rotate(8deg); /* IE 9 */
  transform: rotate(8deg);
}

.bike-pic {
  max-width: 60%;
  height: auto;
  border-top: white 8px solid;
  border-right: white 6px solid;
  border-bottom: white 15px solid;
  border-left: white 6px solid;
}
//------------------------------------------------------
.board-video-container {
  max-width: 40%;
  height: auto;
  top: 75%;
  left: 18%;
  border-top: white 8px solid;
  border-right: white 6px solid;
  border-bottom: white 15px solid;
  border-left: white 6px solid;
  -ms-transform: rotate(-3deg); /* IE 9 */
  transform: rotate(-3deg);
}

.board-video {
  max-width: 100%;
  height: auto;
}


