* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

.banner-contact {
  background-color: black;
  color: white;
  height: auto;
  min-height: 90vh !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-banner-title {
font-family: $titles;
font-size: calc(15px + 5vw);
line-height: calc(14px + 3.3vw);
color: white;
}
//--------------------First container/ContactForm--------------------------------
.first-container-contact {
  height: auto;
  min-height: 100% !important;
  background-color: black;
}

.contact-form-grid {
  display: grid;
  grid-gap: 0.4em;
  grid-template-columns: 1fr;
  padding: 1%;

}

@media (min-width: 40em) {
  .contact-form-grid  {
    grid-template-columns: 2fr 2fr;
  }
}

.contact-text-container {
 width: 90%;
 height: auto;
 margin-top: 5%;
}

.chat-title {
  font-family: $links;
  font-size: calc(15px + 3.5vw);
  line-height: calc(17px + 2.2vw);;
  color: white;
  padding-left: 10%;
}

.chat-text {
  color: white;
  padding-left: 10%;
  padding-right: 5%;
  text-align: justify;
}

//---------------------------CONTACT FORM---------------------
.contact-form-container {
  width: 95%;
  height: auto;
  padding: 20px;
  margin-top: 5%;
}

.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
  font-family: $paragraphs;
}

.form-group input,
.form-group textarea {
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid rgba(89, 72, 241, 0.479);
  border-radius: 2%; 
}

.textarea {
  resize: vertical;
}
 
.send-button {
  width: 10rem;
  outline: none;
  border: none;
  padding: 20px;
  background-color: cadetblue;
  font-size: 15px;
  border-radius: 1%;
  color: rgb(0, 0, 0);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
}

.hidden { 
  display: none;
}
//---------------------------CONTACT FORM---------------------
.foot-text {
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
}