.button {
  background-color: transparent;
  display: inline-block;
}

.about-text {
  position: relative;
  font-size: 40px;
  font-family: $titles;
  // Red ball drawing below
  //display: inline-block;
  //background-color: red;
  //width: 20px;
  //height: 20px;
  //border-radius: 10px;
}

.about-text:hover {
  font-size: 45px;
  transition: all 0.5s ease-in-out;
  color: yellow;
  cursor: default;
}

@-webkit-keyframes down {
  0% { top: 0px; }
  50% { top: 200px; }
  100% { top: 0px; }
}
.animate {
  -webkit-animation: down 5s;
  -moz-animation: down 5s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
}


@-moz-keyframes down {
    0% { top: 0px; }
   50% { top: 200px; }
  100% { top: 0px; }
}