.dynamic-text-font{
  font-family: $titles;
  font-size: 40px;
  padding-left: 10px;
}

.dynamic-text-font2 {
  font-family: $titles;
  font-size: 40px;
  padding-left: 8px;
  padding-right: 460px;
}


/*
@media screen and (max-width: 700px) {
  .dynamic-text-font.responsive {position: relative;}
}

@media screen and (max-width: 700px) {
  .dynamic-text-font2.responsive {position: relative;}
}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

*/