.footer {
  background-color: #000000;
}

.footer-links {
  font-family: $links;
  font-size: 2.5vw;
  &:hover {
    //transform: rotateY(360deg);
    transition-duration: 0.3s;
    transform: scale(1.5);
    color: rgb(0, 225, 255);
  }
}

