// Needed for transform_text.js

.about-text {
  font-size: 40px;
  font-family: $titles;
  font-colour: white;
}

.myself-text {
  font-family: $titles;
  font-size: 45px;
  font-weight: 700;
  transition: all 0.5s ease-in-out;
  color: yellow;
}
