.navbar {
  height: 53px;
  background-color: transparent;
  transition: 1.5s background-color ease;
}

  .navbar-black {
    background-color: black;
  }
  
  .navbar-links {
    font-family: $links;
    font-size: 2vw;
    font-weight: 500;
    margin-right: 9%;
    color: rgb(255, 255, 255);
    &:hover {
      transition-duration: 0.3s;
      transform: scale(1.05);
      color: rgb(255, 255, 125);
    }
  }

  #house {
    font-size: 2vw;
    margin-right: 9%;
    color: rgb(255, 255, 255);
    &:hover {
      //transform: rotateY(360deg);
      transition-duration: 0.3s;
      transform: scale(1.2);
      color: rgb(255, 255, 125);
    }
  }

  #dropdown-color {
    background-color: black;
  }

  .dropdown-text {
    font-family: $links;
    color: yellow;
  }

