.navbar-lewagon {
  justify-content: space-between;
  background-color: transparent;
  transition: 0.5s background-color ease;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-white {
  background-color: white;
}

.search-container {
  background-color: rgba(255,255,255,0.1);
  border-radius: 100px;
  position: relative;
  transition: all 0.2s ease-in-out;
  }
  
#search-field {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  font-size: 16px;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
  color: black ;
  background-color: rgba(255,255,255,0.1);
  z-index: 10;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    cursor: text;
    width: 400px;
    height: 35px;
    background-color: #ffff;
    color: black;
    z-index: 10;
    &+ .handle {
      transform-origin: left bottom;
      transform: translate(0px, -15px) rotate(-130deg);
      opacity: 0;
    }
  }
}
.form-control:focus {
  box-shadow: none;
}