.navbar{
  height: 100px;
  justify-content: space-between;
  background-color: transparent;
  transition: 1.5s background-color ease;  
  }

  .navbar .navbar-collapse {
    flex-grow: 0;
  }
  
  .navbar-black {
    background-color: black;
  }

  .navbar-title {
    font-family: $titles;
    font-size: 43px;
    color: gray;
  }
  
  .navbar-links {
    font-family: $links;
    font-size: 17px;
    margin-right: 70px;
    margin-left: 15px;
  }
    
  .custom-avatar {
    cursor: pointer;
  }
 