// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// CSS partials
@import "components/index";
@import "pages/index";


// Site Style 

html {
  scroll-behavior: smooth;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  background-color: black;
}
/*
body {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
*/
a:hover {
  text-decoration: none;
}

p {
  position: relative;
  font-family: $paragraphs;
  font-size: 14px;
}



h1 {
  font-family: $titles;
  font-size: 24px; 
  font-weight: 500;
}

h2 {
  font-family: $links;
  font-size: 18px; 
  font-weight: 700;
  color: black;
  &:hover {
    transform: rotateX(360deg);
    transition-duration: 0.5s;
    //transform: scale(1.1);
    color: rgb(0, 225, 255);
  }
}

h3 {
  font-family: $titles;
  font-size: 15px; 
  font-weight: 700;
}

h4 {
  font-family: $titles;
  font-size: 12.5px; 
  font-weight: 700;
}
