<div class="chris-paragraph-container">
  <div class="text-left title-me">
    <br><br><br><br>What <br><br><br>&nbsp;about me?
  </div>       
  <div class="chris-paragraph-intro">
    <p>
      I'm a highly motivated <strong> human being</strong> who genuinely values the little things in life. I enjoy building applications and 
      <strong>coding</strong> websites from scratch, my professional journey has been quite diverse as I’ve built a career in the hospitality 
      industry mainly because I <strong>enjoy</strong> being to be part of a <strong>team</strong>.
    </p>
  </div>        
  <div>
    <div class="chris-paragraph-content">
      <p> 
        Definitely someone who <strong>embraces</strong> challenge and self-improvement, a <strong>positive</strong> attitude is part 
        of my personality and very often look at the bigger picture or <strong>think</strong> outside the box 
      </p>
    </div>  
  </div>
  <div>
    <div class="chris-paragraph-end">
      <p> 
      (<strong> LITERALLY </strong>, as you can see) 
      </p> 
    </div>
  </div>
</div>    